body{
    background-image: url(./big\ dad.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.text-dark{
    text-align: center;
    padding-left: 40px;
}
.nav-link{
    float: left;
}
main{
    padding-left: 120px;
}